<!-- Template for all Card components -->

<mat-grid-list cols="6" rowHeight="300px">
    <mat-grid-tile *ngFor="let card of card" [colspan]="card.cols" [rowspan]="card.rows">
<!-- For more information on Mat-Grid-List or Mat-Card, see material.angular.io -->
    <div> 
    <mat-card class="IRG-card">
<!-- mat-card-header is not used, code left for convenience in updating cards in the future -->
      <mat-card-header>
<!--  Designed to add a title to the card  -->
        <mat-card-title></mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>
      <img mat-card-md-image src={{card.imageURL}} alt={{card.imageDesc}}>
<!--For all cards, card is the array, imageURL is one objects string. see irgcard.component.ts  -->
      <mat-card-content>
<!--  Designed to hold a body of text  -->
      </mat-card-content>
<!-- Mar-Card-Actions is always drawn at the bottom of the card, and designed to hold buttons -->
      <mat-card-actions>
        <a mat-raised-button class="sample-button"
          color="primary" 
          href="{{card.ButtonURL}}">{{card.Label}}
        </a>
      </mat-card-actions>
    </mat-card>
    </div>
    </mat-grid-tile>
    </mat-grid-list>
<!-- For questions -->
<!-- https://material.angular.io/components/card/overview -->
<!-- https://material.angular.io/components/grid-list/overview -->
<!-- https://stackoverflow.com/ -->
<!-- This application compiles in Javascript -->
