<ng-container>
  <!-- Header Toolbar, Includes Icon, Title, and Search Form -->
   <mat-toolbar class="example-header" color='primary'>
       <button mat-icon-button color="secondary" (click)="sidenav.toggle()">
     <mat-icon  aria-label="Menu Button">menu</mat-icon>
       </button>
       &nbsp;
       &nbsp;
     <p>Forms</p>
     <span class="example-spacer"></span>
 
  <!-- Search Bar -->
     <form class="example-form">
   <mat-form-field floatLabel='never' class="example-full-width">
      <input type="search" matInput placeholder="Company (disabled)" disabled value="Search">
   </mat-form-field>
 </form>
     </mat-toolbar>
 
  <!-- Sidenavigation Menu (Links on the side of page) -->
 
   <mat-sidenav-container class="example-container">
     <mat-sidenav #sidenav mode="side" opened="true" class="example-sidenav"
                  [fixedInViewport]="options.value.fixed" [fixedTopGap]="options.value.top"
                  [fixedBottomGap]="options.value.bottom">
       <mat-nav-list class="example-sidenav-menu">
         <a mat-list-item onClick="window.open('http://www.irgra.com/')"> IRG RA</a>
         <a mat-list-item onClick="window.open('http://www.industrialrealtygroup.com/')">IRG</a>
         <a mat-list-item onClick="window.open('https://irgra.bamboohr.com/login.php?r=%2Fhome%2F')">Bamboo HR</a>
       </mat-nav-list>
     </mat-sidenav>

      <app-irgexp>

      </app-irgexp>
 
     <mat-sidenav-content>
 <app-irgexp></app-irgexp>

     </mat-sidenav-content>
   </mat-sidenav-container>
 
 <!-- Start of Footer Element -->
 
   <mat-toolbar class="example-footer" color='secondary'>
      <button mat-icon-button disabled>
          <mat-icon aria-label="Add a new form">add</mat-icon>
        </button>
    <span class="example-spacer"></span>
    <p><font size="2" color="grey">IRGRA Internal Forms Web Application, June 2018</font></p>
   </mat-toolbar>
 </ng-container>
 
 <!-- End of HTML element -->