.example-container {
    position: absolute;
    top: 60px;
    bottom: 60px;
    left: 0;
    right: 0;
  }
  
  .example-sidenav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
  }
  
  .example-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
  
  .example-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .example-icon {
    padding: 0 14px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }
  
  .example-form {
    min-width: 150px;
    max-width: 300px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  
  .example-sidenav-menu {
    position: absolute;
    justify-content: center;
    top: 0px;
  }
  